@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@fontsource/roboto";

* {
    font-family:"Roboto"
}


/* https://goodpalette.io/a13b1a-5b2fe0-c2b9b6 */
/* primary color #A13B1A */

.light-background {
    background-color: white;
}

button:disabled {
    background-color: var(--neutral-300);
    color: var(--neutral-600);
}


.background-primary-100 {
    background-color: var(--primary-100);
}

.background-primary-200 {
    background-color: var(--primary-200);
}

.background-primary-300 {
    background-color: var(--primary-300);
}

.background-primary-300 {
    background-color: var(--primary-300);
}

.background-primary-400 {
    background-color: var(--primary-400);
}

.background-primary-500 {
    background-color: var(--primary-500);
}

.background-primary-600 {
    background-color: var(--primary-600);
}

.background-primary-700 {
    background-color: var(--primary-700);
}

.background-primary-800 {
    background-color: var(--primary-800);
}

.background-primary-900 {
    background-color: var(--primary-900);
}






.background-accent-100 {
    background-color: var(--accent-100);
}

.background-accent-200 {
    background-color: var(--accent-200);
}

.background-accent-300 {
    background-color: var(--accent-300);
}

.background-accent-400 {
    background-color: var(--accent-400);
}

.background-accent-500 {
    background-color: var(--accent-500);
}

.background-accent-600 {
    background-color: var(--accent-600);
}

.background-accent-700 {
    background-color: var(--accent-700);
}

.background-accent-800 {
    background-color: var(--accent-800);
}

.background-accent-900 {
    background-color: var(--accent-900);
}






.background-neutral-100 {
    background-color: var(--neutral-100);
}

.background-neutral-200 {
    background-color: var(--neutral-200);
}

.background-neutral-300 {
    background-color: var(--neutral-300);
}

.background-neutral-400 {
    background-color: var(--neutral-400);
}

.background-neutral-500 {
    background-color: var(--neutral-500);
}

.background-neutral-600 {
    background-color: var(--neutral-600);
}

.background-neutral-700 {
    background-color: var(--neutral-700);
}

.background-neutral-800 {
    background-color: var(--neutral-800);
}

.background-neutral-900 {
    background-color: var(--neutral-900);
}




.background-error-100 {
    background-color: var(--error-100);
}

.background-error-200 {
    background-color: var(--error-200);
}

.background-error-300 {
    background-color: var(--error-300);
}

.background-error-400 {
    background-color: var(--error-400);
}

.background-error-500 {
    background-color: var(--error-500);
}

.background-error-600 {
    background-color: var(--error-600);
}

.background-error-700 {
    background-color: var(--error-700);
}

.background-error-800 {
    background-color: var(--error-800);
}

.background-error-900 {
    background-color: var(--error-900);
}


.background-warn-100 {
    background-color: var(--warn-100);
}

.background-warn-200 {
    background-color: var(--warn-200);
}

.background-warn-300 {
    background-color: var(--warn-300);
}

.background-warn-400 {
    background-color: var(--warn-400);
}

.background-warn-500 {
    background-color: var(--warn-500);
}

.background-warn-600 {
    background-color: var(--warn-600);
}

.background-warn-700 {
    background-color: var(--warn-700);
}

.background-warn-800 {
    background-color: var(--warn-800);
}

.background-warn-900 {
    background-color: var(--warn-900);
}











.text-primary-100 {
    color: var(--primary-100)
}

.text-primary-200 {
    color: var(--primary-200)
}

.text-primary-300 {
    color: var(--primary-300)
}

.text-primary-400 {
    color: var(--primary-400)
}

.text-primary-500 {
    color: var(--primary-500)
}

.text-primary-600 {
    color: var(--primary-600)
}

.text-primary-700 {
    color: var(--primary-700)
}

.text-primary-800 {
    color: var(--primary-800)
}

.text-primary-900 {
    color: var(--primary-900)
}


.text-neutral-100 {
    color: var(--neutral-100)
}

.text-neutral-200 {
    color: var(--neutral-200)
}

.text-neutral-300 {
    color: var(--neutral-300)
}

.text-neutral-400 {
    color: var(--neutral-400)
}

.text-neutral-500 {
    color: var(--neutral-500)
}

.text-neutral-600 {
    color: var(--neutral-600)
}

.text-neutral-700 {
    color: var(--neutral-700)
}

.text-neutral-800 {
    color: var(--neutral-800)
}

.text-neutral-900 {
    color: var(--neutral-900)
}


.text-accent-100 {
    color: var(--accent-100)
}

.text-accent-200 {
    color: var(--accent-200)
}

.text-accent-300 {
    color: var(--accent-300)
}

.text-accent-400 {
    color: var(--accent-400)
}

.text-accent-500 {
    color: var(--accent-500)
}

.text-accent-600 {
    color: var(--accent-600)
}

.text-accent-700 {
    color: var(--accent-700)
}

.text-accent-800 {
    color: var(--accent-800)
}

.text-accent-900 {
    color: var(--accent-900)
}


.text-error-100 {
    color: var(--error-100)
}

.text-error-200 {
    color: var(--error-200)
}

.text-error-300 {
    color: var(--error-300)
}

.text-error-400 {
    color: var(--error-400)
}

.text-error-500 {
    color: var(--error-500)
}

.text-error-600 {
    color: var(--error-600)
}

.text-error-700 {
    color: var(--error-700)
}

.text-error-800 {
    color: var(--error-800)
}

.text-error-900 {
    color: var(--error-900)
}


.text-warn-100 {
    color: var(--warn-100)
}

.text-warn-200 {
    color: var(--warn-200)
}

.text-warn-300 {
    color: var(--warn-300)
}

.text-warn-400 {
    color: var(--warn-400)
}

.text-warn-500 {
    color: var(--warn-500)
}

.text-warn-600 {
    color: var(--warn-600)
}

.text-warn-700 {
    color: var(--warn-700)
}

.text-warn-800 {
    color: var(--warn-800)
}

.text-warn-900 {
    color: var(--warn-900)
}



.border-accent-100 {
    border-color: var(--accent-100);
}

.border-accent-200 {
    border-color: var(--accent-200);
}

.border-accent-300 {
    border-color: var(--accent-300);
}

.border-accent-400 {
    border-color: var(--accent-400);
}

.border-accent-500 {
    border-color: var(--accent-500);
}

.border-accent-600 {
    border-color: var(--accent-600);
}

.border-accent-700 {
    border-color: var(--accent-700);
}

.border-accent-800 {
    border-color: var(--accent-800);
}

.border-accent-900 {
    border-color: var(--accent-900);
}





.border-error-100 {
    border-color: var(--error-100);
}

.border-error-200 {
    border-color: var(--error-200);
}

.border-error-300 {
    border-color: var(--error-300);
}

.border-error-400 {
    border-color: var(--error-400);
}

.border-error-500 {
    border-color: var(--error-500);
}

.border-error-600 {
    border-color: var(--error-600);
}

.border-error-700 {
    border-color: var(--error-700);
}

.border-error-800 {
    border-color: var(--error-800);
}

.border-error-900 {
    border-color: var(--error-900);
}





.warn-error-100 {
    border-color: var(--warn-100);
}

.border-warn-200 {
    border-color: var(--warn-200);
}

.border-warn-300 {
    border-color: var(--warn-300);
}

.border-warn-400 {
    border-color: var(--warn-400);
}

.border-warn-500 {
    border-color: var(--warn-500);
}

.border-warn-600 {
    border-color: var(--warn-600);
}

.border-warn-700 {
    border-color: var(--warn-700);
}

.border-warn-800 {
    border-color: var(--warn-800);
}

.border-warn-900 {
    border-color: var(--warn-900);
}


.no-highlights{
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


* {
    --border-radius: 10px;

    /* Primary: Spill the Beans */
    --primary-100: #FFF8F2;
    --primary-200: #FED9BF;
    --primary-300: #F3AF87;
    --primary-400: #D7784D;
    --primary-500: #A13B1A;
    --primary-600: #822009;
    --primary-700: #630F02;
    --primary-800: #450500;
    --primary-900: #260100;

    /* Accent: Blue Magenta */
    --accent-100: #F8F2FF;
    --accent-200: #DCC3FF;
    --accent-300: #B892FB;
    --accent-400: #8D60F2;
    --accent-500: #5B2FE0;
    --accent-600: #3011B2;
    --accent-700: #150583;
    --accent-800: #070155;
    --accent-900: #010026;

    /* Neutral */
    --neutral-100: #FCFBFA;
    --neutral-200: #EEEBE8;
    --neutral-300: #DFDAD7;
    --neutral-400: #D0CAC7;
    --neutral-500: #C2B9B6;
    --neutral-600: #9B9290;
    --neutral-700: #746C6B;
    --neutral-800: #4D4746;
    --neutral-900: #262222;

    
    /* Error */
    --error-100: #FFF5F2;
    --error-200: #FEC2B5;
    --error-300: #F98576;
    --error-400: #E94237;
    --error-500: #CC0000;
    --error-600: #A30000;
    --error-700: #790000;
    --error-800: #500000;
    --error-900: #260000;
    
    /* Warn */
    --warn-100: #FFFEF2;
    --warn-200: #FFF8BF;
    --warn-300: #FEEB8B;
    --warn-400: #FDD757;
    --warn-500: #FABD23;
    --warn-600: #C5860C;
    --warn-700: #905703;
    --warn-800: #5B3100;
    --warn-900: #261200;
    

}
