@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@fontsource/roboto";

* {
    font-family:"Roboto"
}


/* https://goodpalette.io/a13b1a-5b2fe0-c2b9b6 */
/* primary color #A13B1A */

.header-background {
    background-color: var(--primary-500);
}

.primary-text-100 {
    color: var(--primary-100)
}

.primary-text-700 {
    color: var(--primary-700)
}

.accent-text-700 {
    color: var(--accent-700)
}


.neutral-text-200 {
    color: var(--neutral-200)
}

.neutral-text-500 {
    color: var(--neutral-500)
}

.neutral-text-600 {
    color: var(--neutral-600)
}

.neutral-text-700 {
    color: var(--neutral-700)
}

.neutral-text-800 {
    color: var(--neutral-800)
}

.neutral-text-900 {
    color: var(--neutral-900)
}

.dashboard-section {
    border-radius: var(--border-radius);

}

.rounded {
    border-radius: var(--border-radius);
}

.primary-dark-background {
    background-color: var(--primary-800);
}

.shaded-background {
    background-color: var(--neutral-200)     ;
}

.light-background {
    background-color: white;
}

.error-text {
    color: #cc0000;
}



.background-primary-100 {
    background-color: var(--primary-100);
}

.background-primary-200 {
    background-color: var(--primary-200);
}

.background-primary-300 {
    background-color: var(--primary-300);
}

.background-primary-300 {
    background-color: var(--primary-300);
}

.background-primary-400 {
    background-color: var(--primary-400);
}

.background-primary-500 {
    background-color: var(--primary-500);
}

.background-primary-600 {
    background-color: var(--primary-600);
}

.background-primary-700 {
    background-color: var(--primary-700);
}

.background-primary-800 {
    background-color: var(--primary-800);
}

.background-primary-900 {
    background-color: var(--primary-900);
}






.background-accent-100 {
    background-color: var(--accent-100);
}

.background-accent-200 {
    background-color: var(--accent-200);
}

.background-accent-300 {
    background-color: var(--accent-300);
}

.background-accent-400 {
    background-color: var(--accent-400);
}

.background-accent-500 {
    background-color: var(--accent-500);
}

.background-accent-600 {
    background-color: var(--accent-600);
}

.background-accent-700 {
    background-color: var(--accent-700);
}

.background-accent-800 {
    background-color: var(--accent-800);
}

.background-accent-900 {
    background-color: var(--accent-900);
}











.text-primary-100 {
    color: var(--primary-100)
}

.text-primary-200 {
    color: var(--primary-200)
}

.text-primary-300 {
    color: var(--primary-300)
}

.text-primary-400 {
    color: var(--primary-400)
}

.text-primary-500 {
    color: var(--primary-500)
}

.text-primary-600 {
    color: var(--primary-600)
}

.text-primary-700 {
    color: var(--primary-700)
}

.text-primary-800 {
    color: var(--primary-800)
}

.text-primary-900 {
    color: var(--primary-900)
}


.text-neutral-100 {
    color: var(--neutral-100)
}

.text-neutral-200 {
    color: var(--neutral-200)
}

.text-neutral-300 {
    color: var(--neutral-300)
}

.text-neutral-400 {
    color: var(--neutral-400)
}

.text-neutral-500 {
    color: var(--neutral-500)
}

.text-neutral-600 {
    color: var(--neutral-600)
}

.text-neutral-700 {
    color: var(--neutral-700)
}

.text-neutral-800 {
    color: var(--neutral-800)
}

.text-neutral-900 {
    color: var(--neutral-900)
}



.text-accent-500 {
    color: var(--accent-500)
}

.text-accent-600 {
    color: var(--accent-600)
}

.text-accent-700 {
    color: var(--accent-700)
}


.no-highlights{
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


* {
    --border-radius: 10px;

    /* Primary: Spill the Beans */
    --primary-100: #FFF8F2;
    --primary-200: #FED9BF;
    --primary-300: #F3AF87;
    --primary-400: #D7784D;
    --primary-500: #A13B1A;
    --primary-600: #822009;
    --primary-700: #630F02;
    --primary-800: #450500;
    --primary-900: #260100;

    /* Accent: Blue Magenta */
    --accent-100: #F8F2FF;
    --accent-200: #DCC3FF;
    --accent-300: #B892FB;
    --accent-400: #8D60F2;
    --accent-500: #5B2FE0;
    --accent-600: #3011B2;
    --accent-700: #150583;
    --accent-800: #070155;
    --accent-900: #010026;

    /* Neutral */
    --neutral-100: #FCFBFA;
    --neutral-200: #EEEBE8;
    --neutral-300: #DFDAD7;
    --neutral-400: #D0CAC7;
    --neutral-500: #C2B9B6;
    --neutral-600: #9B9290;
    --neutral-700: #746C6B;
    --neutral-800: #4D4746;
    --neutral-900: #262222;

}
