@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@fontsource/roboto";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";


.background-primary-700-glossy {
    background: linear-gradient(
            to top,
            var(--primary-700) 0%,
            var(--primary-700) 65%,
            var(--primary-600) 100%
    );
    box-shadow:
            0 -6px 18px rgba(0, 0, 0, 0.35),
            0 -1px 0 rgba(255, 255, 255, 0.08);
}

/* top separator highlight */
.background-primary-700-glossy::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.22);
    pointer-events: none;
}




/* https://goodpalette.io/a13b1a-5b2fe0-c2b9b6 */
/* primary color #A13B1A */

.light-background {
    background-color: white;
}

button:disabled {
    background-color: var(--neutral-300);
    color: var(--neutral-600);
}


.background-primary-100 {
    background-color: var(--primary-100);
}

.background-primary-200 {
    background-color: var(--primary-200);
}

.background-primary-300 {
    background-color: var(--primary-300);
}

.background-primary-300 {
    background-color: var(--primary-300);
}

.background-primary-400 {
    background-color: var(--primary-400);
}

.background-primary-500 {
    background-color: var(--primary-500);
}

.background-primary-600 {
    background-color: var(--primary-600);
}

.background-primary-700 {
    background-color: var(--primary-700);
}

.background-primary-800 {
    background-color: var(--primary-800);
}

.background-primary-900 {
    background-color: var(--primary-900);
}






.background-accent-100 {
    background-color: var(--accent-100);
}

.background-accent-200 {
    background-color: var(--accent-200);
}

.background-accent-300 {
    background-color: var(--accent-300);
}

.background-accent-400 {
    background-color: var(--accent-400);
}

.background-accent-500 {
    background-color: var(--accent-500);
}

.background-accent-600 {
    background-color: var(--accent-600);
}

.background-accent-700 {
    background-color: var(--accent-700);
}

.background-accent-800 {
    background-color: var(--accent-800);
}

.background-accent-900 {
    background-color: var(--accent-900);
}




.background-neutral-50 {
    background-color: var(--neutral-50);
}

.background-neutral-100 {
    background-color: var(--neutral-100);
}

.background-neutral-200 {
    background-color: var(--neutral-200);
}

.background-neutral-300 {
    background-color: var(--neutral-300);
}

.background-neutral-400 {
    background-color: var(--neutral-400);
}

.background-neutral-500 {
    background-color: var(--neutral-500);
}

.background-neutral-600 {
    background-color: var(--neutral-600);
}

.background-neutral-700 {
    background-color: var(--neutral-700);
}

.background-neutral-800 {
    background-color: var(--neutral-800);
}

.background-neutral-900 {
    background-color: var(--neutral-900);
}




.background-error-100 {
    background-color: var(--error-100);
}

.background-error-200 {
    background-color: var(--error-200);
}

.background-error-300 {
    background-color: var(--error-300);
}

.background-error-400 {
    background-color: var(--error-400);
}

.background-error-500 {
    background-color: var(--error-500);
}

.background-error-600 {
    background-color: var(--error-600);
}

.background-error-700 {
    background-color: var(--error-700);
}

.background-error-800 {
    background-color: var(--error-800);
}

.background-error-900 {
    background-color: var(--error-900);
}


.background-warn-100 {
    background-color: var(--warn-100);
}

.background-warn-200 {
    background-color: var(--warn-200);
}

.background-warn-300 {
    background-color: var(--warn-300);
}

.background-warn-400 {
    background-color: var(--warn-400);
}

.background-warn-500 {
    background-color: var(--warn-500);
}

.background-warn-600 {
    background-color: var(--warn-600);
}

.background-warn-700 {
    background-color: var(--warn-700);
}

.background-warn-800 {
    background-color: var(--warn-800);
}

.background-warn-900 {
    background-color: var(--warn-900);
}











.text-primary-100 {
    color: var(--primary-100)
}

.text-primary-200 {
    color: var(--primary-200)
}

.text-primary-300 {
    color: var(--primary-300)
}

.text-primary-400 {
    color: var(--primary-400)
}

.text-primary-500 {
    color: var(--primary-500)
}

.text-primary-600 {
    color: var(--primary-600)
}

.text-primary-700 {
    color: var(--primary-700)
}

.text-primary-800 {
    color: var(--primary-800)
}

.text-primary-900 {
    color: var(--primary-900)
}


.text-neutral-100 {
    color: var(--neutral-100)
}

.text-neutral-200 {
    color: var(--neutral-200)
}

.text-neutral-300 {
    color: var(--neutral-300)
}

.text-neutral-400 {
    color: var(--neutral-400)
}

.text-neutral-500 {
    color: var(--neutral-500)
}

.text-neutral-600 {
    color: var(--neutral-600)
}

.text-neutral-700 {
    color: var(--neutral-700)
}

.text-neutral-800 {
    color: var(--neutral-800)
}

.text-neutral-900 {
    color: var(--neutral-900)
}


.text-accent-100 {
    color: var(--accent-100)
}

.text-accent-200 {
    color: var(--accent-200)
}

.text-accent-300 {
    color: var(--accent-300)
}

.text-accent-400 {
    color: var(--accent-400)
}

.text-accent-500 {
    color: var(--accent-500)
}

.text-accent-600 {
    color: var(--accent-600)
}

.text-accent-700 {
    color: var(--accent-700)
}

.text-accent-800 {
    color: var(--accent-800)
}

.text-accent-900 {
    color: var(--accent-900)
}


.text-error-100 {
    color: var(--error-100)
}

.text-error-200 {
    color: var(--error-200)
}

.text-error-300 {
    color: var(--error-300)
}

.text-error-400 {
    color: var(--error-400)
}

.text-error-500 {
    color: var(--error-500)
}

.text-error-600 {
    color: var(--error-600)
}

.text-error-700 {
    color: var(--error-700)
}

.text-error-800 {
    color: var(--error-800)
}

.text-error-900 {
    color: var(--error-900)
}


.text-warn-100 {
    color: var(--warn-100)
}

.text-warn-200 {
    color: var(--warn-200)
}

.text-warn-300 {
    color: var(--warn-300)
}

.text-warn-400 {
    color: var(--warn-400)
}

.text-warn-500 {
    color: var(--warn-500)
}

.text-warn-600 {
    color: var(--warn-600)
}

.text-warn-700 {
    color: var(--warn-700)
}

.text-warn-800 {
    color: var(--warn-800)
}

.text-warn-900 {
    color: var(--warn-900)
}



.border-accent-100 {
    border-color: var(--accent-100);
}

.border-accent-200 {
    border-color: var(--accent-200);
}

.border-accent-300 {
    border-color: var(--accent-300);
}

.border-accent-400 {
    border-color: var(--accent-400);
}

.border-accent-500 {
    border-color: var(--accent-500);
}

.border-accent-600 {
    border-color: var(--accent-600);
}

.border-accent-700 {
    border-color: var(--accent-700);
}

.border-accent-800 {
    border-color: var(--accent-800);
}

.border-accent-900 {
    border-color: var(--accent-900);
}



.border-neutral-100 {
    border-color: var(--neutral-100);
}

.border-neutral-200 {
    border-color: var(--neutral-200);
}

.border-neutral-300 {
    border-color: var(--neutral-300);
}

.border-neutral-400 {
    border-color: var(--neutral-400);
}

.border-neutral-500 {
    border-color: var(--neutral-500);
}

.border-neutral-600 {
    border-color: var(--neutral-600);
}

.border-neutral-700 {
    border-color: var(--neutral-700);
}

.border-neutral-800 {
    border-color: var(--neutral-800);
}

.border-neutral-900 {
    border-color: var(--neutral-900);
}





.border-error-100 {
    border-color: var(--error-100);
}

.border-error-200 {
    border-color: var(--error-200);
}

.border-error-300 {
    border-color: var(--error-300);
}

.border-error-400 {
    border-color: var(--error-400);
}

.border-error-500 {
    border-color: var(--error-500);
}

.border-error-600 {
    border-color: var(--error-600);
}

.border-error-700 {
    border-color: var(--error-700);
}

.border-error-800 {
    border-color: var(--error-800);
}

.border-error-900 {
    border-color: var(--error-900);
}





.warn-error-100 {
    border-color: var(--warn-100);
}

.border-warn-200 {
    border-color: var(--warn-200);
}

.border-warn-300 {
    border-color: var(--warn-300);
}

.border-warn-400 {
    border-color: var(--warn-400);
}

.border-warn-500 {
    border-color: var(--warn-500);
}

.border-warn-600 {
    border-color: var(--warn-600);
}

.border-warn-700 {
    border-color: var(--warn-700);
}

.border-warn-800 {
    border-color: var(--warn-800);
}

.border-warn-900 {
    border-color: var(--warn-900);
}


.no-highlights{
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


* {
    --border-radius: 10px;

    /* Primary: Industrial Forest Green */
    --primary-100: #E3ECE7;
    --primary-200: #C7D9CF;
    --primary-300: #A4C1B2;
    --primary-400: #7FA594;
    --primary-500: #5C8A77;
    --primary-600: #4A7162;
    --primary-700: #39594D;
    --primary-800: #2A423A;
    --primary-900: #1C2C27;

    /* Accent: Safety Orange (Industrial) */
    --accent-100: #F2E6DC;
    --accent-200: #E6CFBE;
    --accent-300: #D4AF96;
    --accent-400: #BF8F6E;
    --accent-500: #A87352;
    --accent-600: #8F5C41;
    --accent-700: #734733;
    --accent-800: #563427;
    --accent-900: #3A221A;

    /* Neutral: Cool Industrial Gray */
    --neutral-50: #F7F8F9;
    --neutral-100: #ECEFF1;
    --neutral-200: #D6DADF;
    --neutral-300: #B6BDC4;
    --neutral-400: #8F98A1;
    --neutral-500: #6B737C;
    --neutral-600: #525A62;
    --neutral-700: #3F454B;
    --neutral-800: #2D3237;
    --neutral-900: #1C1F23;

    
    /* Error */
    --error-100: #FFF5F2;
    --error-200: #FEC2B5;
    --error-300: #F98576;
    --error-400: #E94237;
    --error-500: #CC0000;
    --error-600: #A30000;
    --error-700: #790000;
    --error-800: #500000;
    --error-900: #260000;
    
    /* Warn */
    --warn-100: #FFFEF2;
    --warn-200: #FFF8BF;
    --warn-300: #FEEB8B;
    --warn-400: #FDD757;
    --warn-500: #FABD23;
    --warn-600: #C5860C;
    --warn-700: #905703;
    --warn-800: #5B3100;
    --warn-900: #261200;
    

}
